*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  border: none;
  padding: 13px;
  border-radius: 5px;
  background-color: #4682B4;
  color: white;
  font-weight: bold;
}

a{
  padding: 14px;
  border-radius: 5px;
  background-color: #4682B4;
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin: 2px;
}

a:hover{
  background-color: lightskyblue;
}

button:hover{
  background-color: lightskyblue;
}

.acoes{
  margin: 1px;
}

input{
  text-align: center;
}